@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600;800&display=swap');

.foil{
    padding-top: 2.0%;
    background: linear-gradient(180deg, #072728 0%, #011216 100%);
}
.foil_text{
   
    font-family: 'SF Pro Display Bold';
    font-style: normal;
    font-weight: 900;
    font-size: 208px;
    line-height: 358px;
    /* identical to box height */
    
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 25%;
    color: #FFFFFF;
}
.fimg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 31.6%;
}
.simg{

    // display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
    margin: 0;
    top: 120.55%;
    left: 29%;
    position: absolute;
}
.vimg{

    // display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    margin: 0;
    top: 223.85%;
    left: 15%;
    position: absolute;
}
.vimg:hover{

   opacity: 0.5;

}
.mimg{

    // display: block;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
    margin: 0;
    top: 328.85%;
    left: 55%;
    position: absolute;
}
.grid-container{
    position: relative;
    top:20%;
    left: 20%;
}
.gimg{
    height: 80%;
    padding-left: 6%;
    padding-bottom: 6%;
}


.bio{
    width: 30%;
    position: absolute;
    top: 74%;
    left:52%;
    color: white;
    font-family: 'SF Pro Display Reg';
    letter-spacing: 0.2em;

}
.section{
height: 100vh;
}
.streaming{
    background: linear-gradient(180deg, #1948BB 0%, #A894D2 100%);
}
.music{
 
background: linear-gradient(180deg, #FDB172 0%, #FED394 100%);
}

.videos{
    background:#000000
    
}
.txt{
    position: relative;
   
    color: white;
}

.smll{
    font-size: 22px;
}
.EPtextI{
    display: block;
    top: 88px;
    left: 283px;
    font-family: 'SF Pro Display Reg';
}
.header{
    top: 63.85%;
    left: 14%;
    font-size: 65px;
    font-weight: 800;
    font-family: 'SF Pro Display Bold';
}
.music-header{
    position: relative;
    top: 63.85%;
    left: 19%;
    font-size: 65px;
    font-weight: 800;
    font-family: 'SF Pro Display Bold';
}
.EPtext2{
    top: 88px;
    left: 281px;
    
}

.reg{
    top: 488px;
    left: 360px;
    background-color: #2ebd59;
    padding: 25px 80px;
    font-weight: 600;
    font-family: 'SF Pro Display Reg';
    color: white;
}
.reg:hover{
    background-color: #27a74d;
}
.reg:focus{
    background-color: #1f7a3b;
}
.title-sml{
    top: 14.85%;
    left: 20%;
    font-size: 23px;
    font-weight: 800;
    font-family: 'SF Pro Display Bold';
}
.year{
    top: 19.85%;
    left: 10.5%;
    font-size: 20px;
    font-weight: 800;
    font-family: 'SF Pro Display Light'; 
}