
<div class ="section foil"> 
    <img  class="fimg" src="../../assets/imgs/Group 19.png" alt="">
    <h1 class="foil_text">Gyakie</h1>
    <p class = "bio"> An Afro-Soul/Afro Fusion singer from Ghana. She grew up in Kumasi-Ghana, during a musical era where Soul Music reigned with artists such as Asa, Efya, Burna Boy and Rihanna being the most influential musicians.</p>
</div>

<div class = "section streaming ">
    <span class = "txt smll EPtextI">Listen to my</span>
    <span class = "txt header EPtext2">New EP - Seed</span>
    <img  class="simg" src="../../assets/imgs/imageStream.png" alt="">
</div>
<div class = "section videos">
    <img  class="vimg" src="../../assets/imgs/Rectangle 9.png" alt="">
    <span class = "txt title-sml">Music Video</span>
    <span class = "txt year">2019</span>
    <span class = "txt header title-lg">Never Like This</span>
    <span class = "txt smll reg">See all videos</span>
</div>
<div class = "section music">  
    <span class = "txt music-header">My Music</span>
 <img  class="mimg" src="../../assets/imgs/shot.png" alt="">
<table class="grid-container">
    <tr>
        <td><img class="gimg"  src="../../assets/imgs/CTRL.png" alt=""></td>
        <td><img class="gimg"   src="../../assets/imgs/NLT.png" alt=""></td>
    </tr>
    
    <tr>
        <td><img class="gimg"  src="../../assets/imgs/LIP.png" alt=""></td>
        <td><img class="gimg"  src="../../assets/imgs/gyakie sor mi mu  1.png" alt=""></td>
    </tr>
    
    
</table>
   
</div>
