/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    }

    @font-face {
        font-family: 'SF Pro Display Bold';
        src: url("./assets/fonts/sf-ui-display-heavy.otf") format("opentype");
       }

       @font-face {
        font-family: 'SF Pro Display Reg';
        src: url("./assets/fonts/sf-ui-display-medium.otf") format("opentype");
       }

       
       @font-face {
        font-family: 'SF Pro Display Light';
        src: url("./assets/fonts/sf-ui-display-light.otf") format("opentype");
       }